<div class="slider-container">
  <button (click)="playSlider()" class="right" [disabled]="isdisabled" mat-icon-button>
    <mat-icon aria-label="play button" [ngClass]="{'disable': isdisabled }">
      {{playing ? 'pause_circle_filled' : 'play_circle_filled'}}
    </mat-icon>
  </button>

  <button (click)="setSlider('-')" class="right" [disabled]="isdisabled" mat-icon-button>
    <mat-icon aria-label="left button" [ngClass]="{'disable': isdisabled }">
      chevron_left
    </mat-icon>
  </button>

  <mat-slider showTickMarks discrete (change)="sliderOnChange($event)" [min]="sMin" [max]="sMax" [step]="sStep"
    [disabled]="isdisabled" [displayWith]="formatLabel">
    <input [value]="sMin" [(ngModel)]="sValue" matSliderThumb>
  </mat-slider>

  <button (click)="setSlider('+')" class="left" [disabled]="isdisabled" mat-icon-button>
    <mat-icon aria-label="right button" [ngClass]="{'disable': isdisabled }">
      chevron_right
    </mat-icon>
  </button>
</div>