<div class="slider-container">
  <button (click)="setSlider('-')" class="right" mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">
      chevron_left
    </mat-icon>
  </button>

  <mat-slider [tick-interval]="1" [(ngModel)]="s_value" (change)="sliderOnChange($event)" min="{{s_min}}" max="{{s_max}}"
    value="{{s_min}}" step="{{s_step}}"></mat-slider>

  <button (click)="setSlider('+')" class="left" mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">
      chevron_right
    </mat-icon>
  </button>
</div>