/** Slider */

.slider-container{
  width: 100%;

  .left{
    left: 0;
  }
  .right{
    right: 0;
  }
  mat-slider{
    width: calc(100% - (92px + 30px));
  }
}


.disable{
  color: rgba(0, 0, 0, 0.26); 
}