@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import url('~openlayers/dist/ol.css');

app-root{
  width: 100%;
  height: 100%;
}

.mat-toolbar {
  background: #004D40;
  color: rgba(255, 255, 255, 0.9);
}

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
  background-color: #EF6C00;
}

header{
  margin-bottom: 0;
  background: #004D40;
  height: 69px;
  @media (max-width: 600px){
    height: 61px;
    .title{
      max-width: 75%;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }
  .title{
    margin-left: 1em;
    a{
      color: inherit;
      text-decoration: none;
    }
  }

  .fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

  nav{
    cursor: pointer;
    float: right;
  }
}

main{
  height: calc(100% - 197px);
  @media (max-width: 600px){
    height: calc(100% - 173px);
  }
  width: 100%;

  aside{
    background: #004D40;
    position: absolute;
    overflow: auto;
    padding: 0 5px;
    right: 0px;
    max-width: 250px;
    top:69px;
    &.is-loading{
      top:calc(69px + 5px);
    }
    height: calc(100% - 197px);
    @media (max-width: 600px){
      height: calc(100% - 173px);
      top: 61px;
      &.is-loading{
        top:calc(61px + 5px);
      }
    }
  }
}

footer{
      overflow: hidden;
      height: 128px;
      width: 100%;
      @media (max-width: 600px){
        height: 112px;
      }

      .mat-icon {
        color: #EF6C00;
      }

      .title{
        width: 100%;
        white-space: normal;
        text-align: center;
      }

      app-time-slider{
        width: 100%;
      }
}

.map{
    width: 100%;
    height: 100%;
}
