<div id="map" class="map"></div>

<!--
<button (click)="zoom('-')">-</button>
<button (click)="zoom('+')">+</button>

<input [ngModel]="mapState.zoom" (ngModelChange)="setZoom($event)" type="number">
<div>zoom: {{ mapState.zoom }}</div>
<div>center: {{mapState.center[0]}} ,{{mapState.center[1]}}</div>
-->

<app-slider [dates]="datesString" (dateChange)="sliderOnChange($event)"></app-slider>
<span>{{ slidervalue | date: 'dd/MM/yy - HH:mm:ssZ'}}</span> <!-- | date: 'dd/MM/yy - HH:mm:ss' -->

<h3>Times</h3>
<ul>
  <li *ngFor="let datetime of datesString">
    {{datetime | date: 'dd/MM/yy - HH:mm:ssZ'}}
  </li>
</ul>

<h3>Legend</h3>
<span *ngIf="legendurl">
  <img [src]="legendurl" alt="">
</span>
