<header>
  <mat-toolbar>
    <mat-icon (click)="refresh()">refresh</mat-icon>
    <span class="title">
      <a href="https://www.dwd.de/DE/wetter/warnungen_aktuell/objekt_einbindung/einbindung_karten_geowebservice.html" target="_blank">
        DWD Radar
      </a>
    </span>
    <span class="fill-space"></span>
    <nav>
      <mat-icon (click)="showLegend()">{{(legend)?'close':'menu'}}</mat-icon>
    </nav>
  </mat-toolbar>
  <mat-progress-bar mode="{{progressBarMode}}"></mat-progress-bar>
</header>
<main>
  <div id="map" class="map"></div>
  <aside *ngIf="legend">
    <mat-form-field>
      <mat-select (selectionChange)="produktChange($event)" placeholder="Set Produkt" [formControl]="radarlayername">
        <mat-option *ngFor="let produkt of radarlayers" [value]="produkt.value">
          {{ produkt.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="legendurl">
      <img [src]="legendurl" alt="">
    </div>
  </aside>
</main>
<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <app-time-slider [dates]="datesString" (dateChange)="sliderOnChange($event)"></app-time-slider>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span class="title">
        {{ slidervalue | date: 'dd/MM/yy - HH:mm:ss'}}
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>