@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@material-design-icons/font/index.css";
@import 'ol/ol.css';

$header-height: 64px;
$header-height-mobile: 56px;
$lodingbar-height: 5px;
$footer-height: 32px;
$footer-height-mobile: 27px;

$bottom-toolbar-height: 128px;
$bottom-toolbar-height-mobile: 112px;


.mat-toolbar {
  background: rgb(0, 77, 64);
  color: rgba(255, 255, 255, 0.9);
}


.mat-progress-bar.mat-debug {
  .mat-progress-bar-background {
    fill: #bf00ef80;
  }

  .mat-progress-bar-buffer {
    background-color: #bf00ef80;
  }

  .mat-progress-bar-fill::after {
    background-color: #bf00ef;
  }
}

header {
  margin-bottom: 0;
  background: #004D40;
  height: $header-height;

  @media (max-width: 600px) {
    height: $header-height-mobile;

    .title {
      max-width: 75%;
      overflow: auto;
      text-overflow: ellipsis;
    }
  }

  .title {
    margin-left: 1em;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

  nav {
    cursor: pointer;
    float: right;
  }

  .btn {
    cursor: pointer;
  }
}

main {
  position: relative;
  width: 100%;
  height: calc(100% - (#{$header-height} + #{$bottom-toolbar-height}));

  @media (max-width: 600px) {
    height: calc(100% - (#{$header-height-mobile} + #{$bottom-toolbar-height-mobile}));
  }

  &.show-details {
    height: calc(100% - (100% / 4) - (#{$header-height} + #{$footer-height}));

    .map {
      width: 100%;
    }
  }

  @media (max-width: 600px) {
    &.show-details {
      height: calc(100% - (100% / 4) - (#{$header-height-mobile} + #{$footer-height-mobile}));

      .map {
        width: 100%;
      }
    }
  }

  transition: height 0.15s ease-out;
}

.map-time-control {
  position: relative;
  width: 100%;
  height: $bottom-toolbar-height;

  @media (max-width: 600px) {
    height: $bottom-toolbar-height-mobile;
  }

  app-time-slider {
    position: relative;
    width: 100%;
  }

  .mat-icon {
    color: rgb(235, 156, 70);
    cursor: pointer;
  }

  .title {
    width: 100%;
    white-space: normal;
    text-align: center;
  }
}

.details {
  position: relative;
  width: 100%;
  min-height: calc(100% / 4);


  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .produkt-select {
    height: 100%;

    h4 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  .opacity-input {
    display: flex;
    align-items: center;

    #opacity-slider {
      flex: 1;
    }
  }

  .col {
    flex: 1;

    &:nth-of-type(1) {
      padding-left: 1rem;
      padding-right: 0.5rem;
    }

    &:nth-of-type(2) {
      padding-left: 0.5rem;
      padding-right: 1rem;
    }
  }

  @media (max-width: 600px) {
    display: block;

    .col {
      display: block;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }




}


footer {
  position: relative;
  overflow: hidden;
  height: $footer-height;

  .foter-inner {
    padding: 0.5rem;

    .left {
      float: left;
      max-width: calc(100% - 180px);
      overflow: hidden;
      white-space: nowrap;
    }

    .right {
      float: right;
      max-width: 180px;
      overflow: hidden;
    }

    a {
      color: #fff;
    }
  }


  background: #004D40;
  color: rgba(255, 255, 255, 0.9);
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
  transition: height 0.15s ease-out;

  // grayscale osm layer with className on layer
  .baseLayer {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}